{
  "extends": ["standard", "prettier", "prettier/standard"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "classes": true
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": false,
        "semi": false,
        "useTabs": false
      }
    ],
    "no-unused-vars": 0
  }
}