dl {
  padding: 25px;

  dt {
    background-color: #eee;
    border: 0;
    color: #444;
    cursor: pointer;
    outline: none;
    padding: 18px;
    text-align: left;
    transition: .4s;
    width: 100%;

    &:hover {
      background-color: #ccc;
    }
  }

  .active {
    background-color: #ccc;
  }

  dd {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
    border: 1px solid #eee;

    p {
      padding: 18px 0;
    }
  }
}
