.Accordion {
  padding: 25px;

  &-term {
    @include background($bgc-primary);
    border: 0;
    color: $black;
    cursor: pointer;
    font-size: $size-m;
    outline: none;
    padding: 18px;
    text-align: left;
    transition: .4s;
    width: 100%;

    &:hover {
      @include background($bgc-secondary);
    }

    &.is-active {
      @include background($bgc-secondary);
    }
  }

  &-description {
    @include background($white);
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
    transition: max-height .4s ease-out;

    &.is-extended {
      border: 1px solid $bgc-secondary;
    }

    &-text {
      font-size: $size-s;
      padding: 20px 0;
    }
  }
}
